In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
#read the file
df = pd.read_excel('final_df 2022-08-02 02-00-22.xlsx')

In [3]:
df.head()

,Player ID,Understat_ID,Team,First Name,Second Name,Web Name,Position,Start Price,Current Price,Selected By,...,Minutes,Goals Scored,xG,Assists,xA,npxG,xGChain,xGBuildup,Clean Sheets,Status
0,28,5543,Arsenal,Gabriel,Fernando de Jesus,Jesus,Forward,0,8.0,70.8,...,1871,8,10.15,8,5.91,9.39,19.49,6.35,11,a
1,283,1250,Liverpool,Mohamed,Salah,Salah,Midfielder,0,13.0,58.8,...,2758,23,24.36,14,9.79,19.80,32.16,11.22,17,a
2,285,1791,Liverpool,Trent,Alexander-Arnold,Alexander-Arnold,Defender,0,7.5,57.0,...,2853,2,2.19,12,12.69,2.19,21.09,11.99,18,a
3,306,2379,Manchester City,João,Cancelo,Cancelo,Defender,0,7.0,44.9,...,3227,1,4.54,11,6.01,4.54,26.89,21.15,19,a
4,146,8067,Chelsea,Reece,James,James,Defender,0,6.0,39.7,...,1863,5,2.54,9,7.03,2.54,15.98,11.94,7,a